body {
    flex: auto;
    background-color: rgb(226, 24, 24);
    margin: 0;
    justify-content: space-around;
}

.header {
    background-color: red;
    border: rgb(48, 32, 9);
    display: flex;
    justify-content: space-between;
    padding: 50px 100px;
    width: 100%;
    position: fixed;
    top: 0;
    align-items: center;
}

.main {
    background-color: rgb(245, 13, 13);
    display: flex;
}

.wow {
    color: rgb(108, 76, 122);
    display: flex;
}